@model WebApplication1.Models.account

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
        <h2>My Profile</h2>
        <hr />
        <div class="container" style="background-color:grey">
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <center>
                                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                                <h3 class="media-heading">@Html.DisplayFor(model => model.username)</h3>
                                <p class="text-left">
                                    <strong>Description: </strong><br>
                                    I'm a porn director
                                </p>
                                <div class="btn-group" id="recent events" data-toggle="buttons">
                                    <span>
                                        <input type="button" value="tag1" style="background-color:lawngreen;
                                                               border-radius:2%;" />
                                    </span>
                                    <span>
                                        <input type="button" value="tag2" style="background-color:orangered;
                                                               border-radius:2%;" />
                                    </span>
                                    <span>
                                        <input type="button" value="tag3" style="background-color:yellow;
                                                               border-radius:2%;" />
                                    </span>
                                </div>
                                <p></p>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default">
                                        <input type="button" value="Past Events" data-style="btn-primary" autocomplete="off">
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="button" value="Future Events" data-style="btn-primary" autocomplete="off">
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="button" value="Host Events" data-style="btn-primary" autocomplete="off">
                                    </label>
                                </div>
                                <br>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    <p>

    </p>
</body>
</html>
