
@using CloudinaryDotNet

@model WebApplication1.Models.EventViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" HtmlEncode="false" />
    <title>ViewEvent</title>

</head>
<body>
    <div id="viewPlaceHolder"> @Html.Partial("_Events", Model)</div>
    <div>

        <hr />
        <script type="text/javascript">


            $(function () {

                var start = moment();
                var end = moment().add(1, 'year');

                function cb(start, end) {
                    $('#reportrange span').html(start.format('D MMMM, YYYY') + ' - ' + end.format('D MMMM, YYYY'));
                }

                $('#reportrange').daterangepicker({ 
                    startDate: start,
                    endDate: end,
                    dateFormat: 'dd/mm/yyyy',
                    opens : 'left',
                    ranges: {
                        'Future': [moment(), moment().add(100, 'years')],
                        'Today': [moment(), moment()],
                        'This Week': [moment(), moment().add(7, 'days')],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'All': [moment().subtract(100, 'years'), moment().add(100, 'years')],
                        'Past': [moment().subtract(100, 'years'), moment()]
                        
                    }
                }, cb);

                cb(start, end);
               

            });
            var picker = $('#reportrange').daterangepicker();

            $(document).ready(function(){
                var cityfield = document.getElementById('City');
                var namefield = document.getElementById('name');
                var date = document.getElementById('reportrange');
                var id = $("#city").val();
                var data = JSON.stringify({
                    'id': $("#city").val(),
                    'name': $("#name").val()
                });
                function ajax(e) {
                    jQuery.ajax({
                        type: "GET",
                        url: "/Home/GetView",
                        data: { id :   $("#City").val(),  name :  $("#name").val() , start : $('#reportrange').data('daterangepicker').startDate.format('YYYY-MM-DD'), end:   $('#reportrange').data('daterangepicker').endDate.format('YYYY-MM-DD')},
                        contentType: 'application/json; charset=utf-8',
                        success: function (viewHTML) {
                            $("#viewPlaceHolder").html(viewHTML);
                        },
                        error: function (req, status, error) {
                            alert(req.responseText);
                        }
                    });

                }
                cityfield.addEventListener('input', ajax);
                namefield.addEventListener('input', ajax);
                $('#reportrange').on('apply.daterangepicker', ajax);
            })
        </script>
        </div>
</body>
</html>
