@using WebApplication1.Models
@model LoginViewModel
@{
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewEvent</title>
</head>
<body>
    <div>
        <h4>Events</h4>
        <hr />
        <div class="container">
@foreach (var item in Model.events)
{
                <div class="row">
                    <div class="col-4-4">
                        @Html.DisplayFor(model => item.Image)
                    </div>
                    <div class="col-lg-4">
                        @Html.DisplayFor(model => item.EventName)
                    </div>
                    <div class="col-lg-4">
                        @Html.DisplayFor(model => item.EventDate)
                    </div>
                </div>}


</div>
    </div>

</body>
</html>

