
@using CloudinaryDotNet

@model WebApplication1.Models.EventViewModel

<!DOCTYPE html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" HtmlEncode="false" />
    <title>ViewEvent</title>
</head>
<body>
    <div id="viewPlaceHolder"> @Html.Partial("_Events", Model)</div>
    <div>
        <hr />
        <script type="text/javascript">
            $(document).ready(function(){
                var cityfield = document.getElementById('City');
                var namefield = document.getElementById('name');
                var id = $("#city").val();
                var data = JSON.stringify({
                    'id': $("#city").val(),
                    'name': $("#name").val()
                });
                function ajax(e) {
                    jQuery.ajax({
                        type: "GET",
                        url: "/Home/GetView?id=" + $("#City").val() + "&name=" +  $("#name").val(),
                        contentType: 'application/json; charset=utf-8',
                        success: function (viewHTML) {
                            $("#viewPlaceHolder").html(viewHTML);
                        },
                        error: function (req, status, error) {
                            alert(req.responseText);
                        }
                    });

                }
                cityfield.addEventListener('input', ajax);
                namefield.addEventListener('input', ajax);
            })
        </script>
        </div>
</body>
</html>
