@model WebApplication1.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<body style="margin-top:50px">
    <h2>@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
</body>
